<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <title>JL Chen</title>
</head>
<body>
    <!-- https://codepen.io/nickisix/pen/xxqvbv -->
    <header>
        <a class="logo" href="../index.html">Linda Chen &#127861</a>
        <input id="nav" type="checkbox">
        <label for="nav"></label>
        <nav>
            <ul>
                <li><a href="../about.html">About</a></li>
                <li><a href="../projects.html">Projects</a></li>
                <li><a href="../contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% filter indent(width=4, first=True) %}
        {% block main %}{% endblock main %}
        {% endfilter %}
    </main>
    <footer>2023 mod by Linda Chen</footer>
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "2c3a757455334212a85aac8af98ab936"}'></script>
    <!-- End Cloudflare Web Analytics -->
</body>
</html>