{% extends "partials/_base.html" %}
{% block main %}
    <p>I'm an engineer, entrepreneur, snowboarder.</p>
    <h3 id="about">About</h3>
    <ul>
        <li>MSIS Graduate Student @ University of Washington</li>
        <li>Software Engineer @ Woven by Toyota</li>
        <li>Data Engineer @ LINE corp</li>
    </ul>
    <h3 id="projects">Projects</h3>
    <h3 id="teaching">Teaching</h3>
    <a href="#">TECHIN 509 Technology Foundations (3), Fall 2023</a>
    <h3 id="#contact">Contact</h3>
    <a href="https://www.linkedin.com/in/ianchentw/">[LinkedIn]</a>
    <a href="https://github.com/ianchen06">[GitHub]</a>
{% endblock main %}